ball_tracking/losses
ball_tracking/training/check_dataset_output.py
ball_tracking/training/dataset.py
ball_tracking/striped_ball_dataset2.zip
ball_tracking/striped_ball_dataset2/
ball_tracking/wasb_basketball_best.pth.tar
ball_tracking/training/finetune_outputs
ball_tracking/training/frames_to_test
ball_tracking/training/output
*.pyc
hoop_detection/datasets
hoop_detection/runs
hoop_detection/output
basketball_analysis/images/*
basketball_analysis/models/*
basketball_analysis/output_videos
basketball_analysis/input_videos/*
basketball_analysis/stubs
basketball_analysis/*
precompute/output
precompute/debug
precompute/frames
precompute/models
