my_WASB/finetune_outputs/
my_WASB/striped_ball_dataset2.zip
my_WASB/videos/
my_WASB/outputs/
my_WASB/striped_ball_dataset2/
my_WASB/wasb_basketball_best.pth.tar
my_WASB/training/finetune_outputs
my_WASB/training/frames_to_test
my_WASB/training/output
